
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }
    
    match /members/{memberId} {
      allow get: if isOwner(memberId) || request.auth.token.email == 'transconnect@gmail.com';
      allow list: if request.auth.token.email == 'transconnect@gmail.com';
      allow create: if isOwner(memberId);
      allow update: if isOwner(memberId) || request.auth.token.email == 'transconnect@gmail.com';
      allow delete: if request.auth.token.email == 'transconnect@gmail.com';
    }

    match /memberships/{membershipId} {
      allow get, list: if isSignedIn();
      allow write: if request.auth.token.email == 'transconnect@gmail.com'; 
    }

    match /contributions/{contributionId} {
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow read, list: if request.auth.token.email == 'transconnect@gmail.com';
      allow update, delete: if request.auth.token.email == 'transconnect@gmail.com';
    }
    
     match /financeApplications/{applicationId} {
      allow get: if isOwner(resource.data.applicantId) || request.auth.token.email == 'transconnect@gmail.com';
      allow list: if request.auth.token.email == 'transconnect@gmail.com';
      allow create: if isOwner(request.resource.data.applicantId) || request.auth.token.email == 'transconnect@gmail.com';
      allow update: if isOwner(resource.data.applicantId) || request.auth.token.email == 'transconnect@gmail.com';
      allow delete: if request.auth.token.email == 'transconnect@gmail.com';
    }

    match /transactions/{transactionId} {
        allow get: if isOwner(resource.data.memberId) || request.auth.token.email == 'transconnect@gmail.com';
        allow list: if request.auth.token.email == 'transconnect@gmail.com' || (request.query.where[0][0] == 'memberId' && request.query.where[0][2] == request.auth.uid);
        allow create: if isOwner(request.resource.data.memberId) || request.auth.token.email == 'transconnect@gmail.com';
        allow update, delete: if request.auth.token.email == 'transconnect@gmail.com';
    }

    match /platform_config/{docId} {
      allow read, write: if request.auth.token.email == 'transconnect@gmail.com';
    }
  }
}
